main {
	display: flex;
	flex-direction: column;
	width: 450px;

	.content {
		display: flex;
		flex-direction: column;
		padding: 20px;

		.avatar {
			width: 180px;
			height: 180px;
			border-radius: 50%;
			margin: 10px 0 40px 0;
			align-self: center;

		}

		.upload  {
			display: flex;
			column-gap: 8px;
			align-items: baseline;

			.nameFile {
				margin-left: 5px;
			}
		}
	}
}