.mat-column-index {
	max-width: 60px;
	justify-content: center;
}

.mat-column-amount {
	justify-content: center;
}

.mat-column-price {
	justify-content: right;
}

.mat-column-actions {
	justify-content: center;
	max-width: 110px;
}